main{
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .form-container{
        height: fit-content;
        min-width: 400px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1.5rem;

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            input, button{
                padding-inline: 1.5rem;
                padding-block: 1rem;
                border-radius: 1rem;
                border: none;
                outline: none;
            }

            button{
                background-color: #b73f3f;
                color: whitesmoke;
                cursor: pointer;
            }
        }

        .toggleAuthForm{
            text-decoration: none;
            cursor: pointer;
            color: #d12c2c;
        }
    }

}