@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    @include flex-column(1rem);
    min-width: 350px;
  }

  form {
    @include flex-column(1rem);

    input{
        border: none;
        outline: none;
        border: none;
        padding-inline: 1rem;
        padding-block: 0.7rem;
        border-radius: 1rem;
    }
  }
}
